html,
body {
  height: 100%;
  overflow-x: hidden;
 
}
h1{
  font-weight: 600;
  font-size: 64px;
  line-height: 106%;
}

#root {
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;
  margin: 0 auto 0 auto;
}
:root {
  --text-black-color: #3C3C43; 
  --blue-fone: #82A5CE;
  --white: #ffffff;

}

